---
import "../assets/app.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>A Composable Visual Language for AI</title>
	</head>
<body>
    <div class="min-h-screen flex flex-col">
      <nav class="navbar bg-base-100 border-b">
        <div class="flex-1">
          <a href="/" class="btn btn-ghost normal-case text-xl">
            <span class="bg-gradient-to-r from-blue-500 to-purple-500 inline-block text-transparent bg-clip-text">
              AIGlyphs
            </span>
          </a>
        </div>
        <div class="flex-none gap-2">
          <a href="/about" class="btn btn-ghost">About</a>
          <a href="/contact" class="btn btn-ghost">Contact</a>
        </div>
      </nav>

      <slot />

      <footer class="footer footer-center p-4 bg-base-300 text-base-content">
        <div>
          <p>Licensed under CC-BY-4.0</p>
        </div>
      </footer>
    </div>
  </body>
</html>

